.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #202229;
  border-radius: 5px;
  border: solid 1px #fff;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto; }
  @media (max-width: 580px) {
    .nice-select {
      font-size: 10px; } }
  @media (max-width: 420px) {
    .nice-select {
      font-size: 8px;
      padding-left: 5px; } }
  .nice-select:hover {
    border-color: #dbdbdb; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #999; }
  .nice-select:after {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 5px; }
  .nice-select.open:after {
    transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0); }
  .nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: white; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px; }
    .nice-select.small:after {
      height: 4px;
      width: 4px; }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px; }
  .nice-select .list {
    background-color: #202229;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-21px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 10; }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s; }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      background-color: #f6f6f6;
      color: #202229; }
    .nice-select .option.selected {
      font-weight: bold; }
    .nice-select .option.disabled {
      background-color: transparent;
      color: #999;
      cursor: default; }

.no-csspointerevents .nice-select .list {
  display: none; }
.no-csspointerevents .nice-select.open .list {
  display: block; }

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased; }

a {
  outline: none;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.3s linear 0s; }

img {
  border: none; }

html {
  height: 100%; }

body {
  height: auto !important;
  min-height: 100%; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .container {
      width: 732px; } }
  @media (min-width: 992px) {
    .container {
      width: 952px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1152px; } }

.clearfix {
  clear: both; }

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  color: #fff; }
  @media (max-width: 320px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  font-weight: bold;
  width: 100%;
  color: #1c1c1c;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 100px;
  text-align: center; }
  h2:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    border: #f6a912 solid 2px; }

h3 {
  font-family: "Roboto Slab", serif;
  font-size: 24px; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

header {
  background: url("../images/header-bg.png") center/cover;
  position: relative;
  z-index: 1; }
  header .smart-oject {
    position: absolute;
    bottom: 0;
    background: url("../images/smart-object.png") center/cover;
    width: 100%;
    height: 100%;
    z-index: 2; }
  header P {
    color: #ffff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0; }
  header .help-navbar {
    position: relative;
    z-index: 6;
    padding: 17px 0;
    box-sizing: border-box;
    border-bottom: #fff 1px solid;
    display: flex;
    justify-content: space-between; }
    header .help-navbar p {
      display: inline-block; }
    header .help-navbar .phone {
      margin-right: 30px; }
      header .help-navbar .phone:before {
        content: url("../images/viber-icon.png");
        width: 16px;
        margin-right: 10px; }
    header .help-navbar .telegram {
      margin-right: 40px; }
      header .help-navbar .telegram:before {
        content: url("../images/telegram-icon.png");
        width: 16px;
        margin-right: 10px; }
    header .help-navbar .email:before {
      content: "\f0e0";
      font-family: "Font Awesome 5 Free";
      margin-right: 10px; }
    header .help-navbar .nice-select {
      border: none;
      background: transparent;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      height: auto;
      line-height: initial; }
  header .area {
    position: relative;
    z-index: 5;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto; }
  header .navbar {
    justify-content: space-between; }
    header .navbar .brand {
      display: block;
      font-size: 16px;
      color: #777;
      margin-top: 23px;
      margin-bottom: 23px; }
    header .navbar .toggle {
      border: 0;
      background-color: transparent;
      outline: none;
      display: inline-block;
      background-image: none;
      vertical-align: middle;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
      touch-action: manipulation;
      user-select: none;
      padding: 13px; }
      @media (min-width: 1200px) {
        header .navbar .toggle {
          display: none; } }
      header .navbar .toggle .icon {
        position: relative;
        margin-top: 8px;
        margin-bottom: 8px; }
        header .navbar .toggle .icon, header .navbar .toggle .icon:before, header .navbar .toggle .icon:after {
          display: block;
          width: 24px;
          height: 3px;
          transition: background-color 0.3s linear, transform 0.3s linear;
          background-color: #fff; }
        header .navbar .toggle .icon:before, header .navbar .toggle .icon:after {
          position: absolute;
          content: ""; }
        header .navbar .toggle .icon:before {
          top: -8px; }
        header .navbar .toggle .icon:after {
          top: 8px; }
      header .navbar .toggle.-active > .icon {
        background-color: transparent; }
        header .navbar .toggle.-active > .icon:before {
          transform: translateY(8px) rotate(45deg); }
        header .navbar .toggle.-active > .icon:after {
          transform: translateY(-8px) rotate(-45deg); }
    header .navbar .list {
      display: none;
      flex-flow: row nowrap;
      align-items: center;
      white-space: nowrap; }
      @media (min-width: 1200px) {
        header .navbar .list {
          display: flex; } }
      @media (max-width: 1200px) {
        header .navbar .list {
          position: absolute;
          top: 92px;
          left: 0;
          width: 100%;
          overflow-y: hidden;
          overflow-x: auto;
          border-top: 1px solid #fff;
          background-color: #272931; } }
      header .navbar .list.-on {
        display: flex;
        flex-direction: column; }
      header .navbar .list .item {
        position: relative;
        display: block;
        font-family: "Roboto Slab", serif;
        flex-shrink: 0;
        height: 46px;
        line-height: 46px;
        padding-left: 30px;
        padding-right: 30px;
        text-transform: uppercase;
        color: #fff;
        font-size: 15px; }
        header .navbar .list .item:after {
          content: " ";
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -35%;
          width: 70%;
          border-bottom: transparent solid 2px; }
      header .navbar .list .item.-link {
        line-height: 48px;
        color: #fff;
        border: 2px solid transparent; }
        header .navbar .list .item.-link:hover::after {
          border-bottom-color: #fff; }
        header .navbar .list .item.-link:focus, header .navbar .list .item.-link.-active, header .navbar .list .item.-link:active, header .navbar .list .item.-link.nice-select.open {
          color: #fff;
          border: #3766f4 solid 2px;
          border-radius: 50px; }
          header .navbar .list .item.-link:focus:after, header .navbar .list .item.-link.-active:after, header .navbar .list .item.-link:active:after, header .navbar .list .item.-link.nice-select.open:after {
            border-bottom: transparent solid 2px; }
  header .header-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 140px; }
    header .header-table h1 {
      text-align: center;
      width: 80%;
      margin-bottom: 66px; }
      @media (max-width: 768px) {
        header .header-table h1 {
          width: 100%; } }
    header .header-table .change-table {
      background-color: #202229;
      width: 80%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      @media (max-width: 768px) {
        header .header-table .change-table {
          width: 100%; } }
      header .header-table .change-table .yellow {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        color: #f6a912;
        margin-bottom: 20px; }
      header .header-table .change-table .column-logo-left {
        order: 1;
        width: 13%;
        padding-top: 67px;
        display: flex;
        justify-content: flex-end; }
        @media (max-width: 480px) {
          header .header-table .change-table .column-logo-left {
            width: 20%;
            justify-content: center; } }
      header .header-table .change-table .column-logo-right {
        order: 5;
        width: 13%;
        padding-top: 67px;
        display: flex; }
        @media (max-width: 480px) {
          header .header-table .change-table .column-logo-right {
            order: 4;
            width: 20%;
            justify-content: center; } }
      header .header-table .change-table .icon {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        margin: 0 10px;
        background-color: white;
        display: flex;
        justify-content: center; }
        @media (max-width: 1024px) {
          header .header-table .change-table .icon {
            width: 45px;
            height: 45px;
            margin-top: 15px; } }
        header .header-table .change-table .icon img {
          width: 60%;
          height: 60%;
          overflow: hidden;
          margin: auto; }
      header .header-table .change-table .column-give-currency {
        order: 2;
        z-index: 6;
        width: 35%;
        padding-top: 40px;
        display: flex;
        flex-direction: column; }
        @media (max-width: 480px) {
          header .header-table .change-table .column-give-currency {
            width: 75%; } }
      header .header-table .change-table .column-get-currency {
        order: 4;
        z-index: 6;
        width: 35%;
        padding-top: 40px;
        display: flex;
        flex-direction: column; }
        @media (max-width: 480px) {
          header .header-table .change-table .column-get-currency {
            width: 75%;
            order: 5; } }
      header .header-table .change-table .column-center {
        order: 3;
        padding-top: 95px;
        width: 4%;
        display: flex;
        justify-content: center; }
        @media (max-width: 480px) {
          header .header-table .change-table .column-center {
            width: 100%;
            padding-top: 40px; } }
      header .header-table .change-table form {
        display: inline;
        width: 100%; }
        header .header-table .change-table form input {
          width: 100%;
          height: 44px;
          border: white solid 1px;
          border-radius: 5px;
          background: #202229;
          color: white;
          padding-left: 15px;
          box-sizing: border-box;
          margin-top: 20px; }
      header .header-table .change-table .value {
        height: 44px;
        line-height: 44px;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        border: #fe2e2e solid 1px;
        border-radius: 5px;
        background: #202229;
        color: white;
        padding-left: 15px;
        box-sizing: border-box;
        margin-top: 20px;
        margin-bottom: 13px; }
      header .header-table .change-table .max-value {
        color: #fe2e2e;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 20px; }
      header .header-table .change-table .add-information {
        color: #bdbdbd;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        margin-bottom: 15px; }
      header .header-table .change-table .yellow-link {
        color: #f6a912;
        text-decoration: underline; }
        header .header-table .change-table .yellow-link:hover {
          color: #3766f4; }
      header .header-table .change-table .column-button {
        order: 6;
        width: 100%;
        display: flex;
        justify-content: center; }
        header .header-table .change-table .column-button .change-button {
          color: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: bold;
          background: #3766f4;
          width: 150px;
          line-height: 47px;
          border-radius: 50px;
          box-sizing: border-box;
          text-align: center;
          margin-top: 10px;
          margin-bottom: 40px;
          z-index: 6; }
          header .header-table .change-table .column-button .change-button:hover {
            background-color: #f6a912; }

.advantages {
  background-color: #fff;
  padding: 83px 0; }
  .advantages .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .advantages .container .column-advant {
      width: 23%;
      margin: 0 1%;
      border: #f6a912 solid 2px;
      padding: 60px 30px;
      box-sizing: border-box;
      margin-bottom: 60px;
      position: relative; }
      @media (max-width: 1200px) {
        .advantages .container .column-advant {
          width: 48%; } }
      @media (max-width: 480px) {
        .advantages .container .column-advant {
          width: 98%; } }
      .advantages .container .column-advant h3 {
        text-align: center;
        margin-bottom: 25px; }
      .advantages .container .column-advant .icon-advant {
        background-color: #fff;
        position: absolute;
        top: -35px;
        left: 50%;
        margin-left: -63px; }

.about-us {
  background: url("../images/about-us-bg.png") center/cover;
  padding: 83px 0;
  color: #fff; }
  .about-us .column-about-us {
    width: 60%; }
    .about-us .column-about-us .name {
      font-family: "Roboto Slab", serif;
      font-weight: lighter;
      font-size: 60px;
      margin-bottom: 38px; }
    @media (max-width: 480px) {
      .about-us .column-about-us {
        width: 100%; }
        .about-us .column-about-us .name {
          font-size: 40px; } }
    .about-us .column-about-us h3 {
      color: #fff;
      position: relative;
      padding-bottom: 30px;
      margin-bottom: 48px; }
      .about-us .column-about-us h3:after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100px;
        border: #f6a912 solid 2px; }
    .about-us .column-about-us .big-white-text {
      color: #fff;
      font-size: 20px; }
    .about-us .column-about-us p {
      font-size: 16px;
      color: #fff;
      margin-bottom: 38px; }
    .about-us .column-about-us .big-yellow-text {
      color: #f6a912;
      font-size: 24px; }
    .about-us .column-about-us .arrow {
      padding-left: 56px;
      position: relative; }
      .about-us .column-about-us .arrow:after {
        content: url("../images/arrow-yellow.png");
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -8px; }

.currency-reserve {
  background-color: #fff;
  padding: 83px 0; }
  .currency-reserve .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .currency-reserve .container .column-currency {
      width: 31%;
      margin: 0 1%;
      border: #f6a912 solid 2px;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      align-items: flex-start;
      margin-bottom: 30px; }
      @media (max-width: 768px) {
        .currency-reserve .container .column-currency {
          width: 48%; } }
      @media (max-width: 480px) {
        .currency-reserve .container .column-currency {
          width: 100%; } }
      .currency-reserve .container .column-currency .img {
        width: 38px;
        height: 38px; }
      .currency-reserve .container .column-currency .currency {
        margin-top: -7px;
        padding-left: 20px; }
        .currency-reserve .container .column-currency .currency .currency-value {
          font-size: 24px; }

/*# sourceMappingURL=style.css.map */
