@import 'nice-select';

$ff1:  'Roboto Slab', serif;
$ff2: 'Open Sans', sans-serif;
$dark-color: #1c1c1c;
$yellow-color: #f6a912;
$red-color: #fe2e2e;
$blue-color: #3766f4;

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased; }

a {
  outline: none;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.3s linear 0s;
}

img {
  border: none; }

html {
  height: 100%; }

body {
  height: auto !important;
  min-height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  @media (min-width: 768px) {width: 732px; }
  @media (min-width: 992px) {width: 952px; }
  @media (min-width: 1200px) {width: 1152px; }
}


.clearfix {
  clear: both;
}

h1 {
  font-family: $ff1;
  font-size: 40px;
  color: #fff;
  @media (max-width: 320px) {
    font-size: 24px;
  }

}
h2 {
  font-family: $ff1;
  font-size: 36px;
  font-weight: bold;
  width: 100%;
  color: $dark-color;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 100px;
  text-align: center;
  &:after {
    content: " ";
    position: absolute;
    bottom:0;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    border: $yellow-color solid 2px;
  }

}
h3 {
  font-family: $ff1;
  font-size: 24px;
}
p {
  font-family: $ff2;
  font-size: 16px;
}

header {
  background: url("../images/header-bg.png") center/cover;
  position: relative;
  z-index: 1;
  .smart-oject {
    position: absolute;
    bottom: 0;
    background: url("../images/smart-object.png") center/cover;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  P {
    color: #ffff;
    font-family: $ff2;
    font-size: 14px;
    margin: 0;
  }
  .help-navbar {
    position: relative;
    z-index: 6;
    padding: 17px 0;
    box-sizing: border-box;
    border-bottom: #fff 1px solid;
    display: flex;
    justify-content: space-between;
    p {
      display: inline-block;
    }
    .phone {
      margin-right: 30px;
      &:before {
        content: url("../images/viber-icon.png");
        width: 16px;
        margin-right: 10px;
      }
    }
    .telegram {
      margin-right: 40px;
      &:before {
        content: url("../images/telegram-icon.png");
        width: 16px;
        margin-right: 10px;
      }
    }
    .email {
      &:before {
        content: "\f0e0";
        font-family: "Font Awesome 5 Free";
        margin-right: 10px;
      }
    }
    .nice-select {
      border: none;
      background: transparent;
      font-size: 14px;
      font-family: $ff2;
      height: auto;
      line-height: initial;
    }
  }
  $navbar-height: 46px;
  $navbar-background: transparent;
  $navbar-border: #fff;
  $navbar-collapse-breakpoint: 1200px;
  $navbar-item-font-size:      15px;
  $navbar-item-border-width:   2px;
  $navbar-item-color:          #fff;
  $navbar-item-active-color:   #fff;
  $navbar-item-border:         transparent;
  $navbar-item-active-border:  #fff;
  .area {
    position: relative;
    z-index: 5;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar {
    justify-content: space-between;
    .brand {
      display: block;
      font-size: 16px;
      color: #777;
      margin-top: round(($navbar-height) / 2);
      margin-bottom: round(($navbar-height) / 2);
    }
    .toggle {
      border: 0;
      background-color: transparent;
      outline: none;
      display: inline-block;
      background-image: none;
      vertical-align: middle;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
      touch-action: manipulation;
      user-select: none;
      padding: round(($navbar-height - 20) / 2);
      @media (min-width: $navbar-collapse-breakpoint) {
        display: none;
      }
      .icon {
        position: relative;
        margin-top: 8px;
        margin-bottom: 8px;
        &, &:before, &:after {
          display: block;
          width: 24px;
          height: 3px;
          transition: background-color 0.3s linear, transform 0.3s linear;
          background-color: #fff;
        }

        &:before, &:after { position: absolute; content: ""; }
        &:before { top: -8px; }
        &:after { top: 8px; }
      }
      &.-active > .icon {
        background-color: transparent;
        &:before { transform: translateY(8px) rotate(45deg); }
        &:after { transform: translateY(-8px) rotate(-45deg); }
      }
    }
    .list {
      display: none;
      flex-flow: row nowrap;
      align-items: center;
      white-space: nowrap;
      @media (min-width: $navbar-collapse-breakpoint) {
        display: flex;
      }
      @media (max-width: $navbar-collapse-breakpoint) {
        position: absolute;
        top: round($navbar-height*2);
        left: 0;
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        border-top: 1px solid $navbar-border;
        background-color: #272931;
      }
      &.-on {
        display: flex;
        flex-direction: column;
      }
      .item {
        position: relative;
        display: block;
        font-family: $ff1;
        flex-shrink: 0;
        height: $navbar-height;
        line-height: $navbar-height;
        padding-left: 30px;
        padding-right: 30px;
        text-transform: uppercase;
        color: $navbar-item-color;
        font-size: $navbar-item-font-size;
        &:after {
          content: " ";
          position: absolute;
          bottom:0;
          left: 50%;
          margin-left: -35%;
          width: 70%;
          border-bottom: transparent solid 2px;
        }
      }
      .item.-link {
        line-height: $navbar-height + $navbar-item-border-width;
        color: $navbar-item-color;
        border: $navbar-item-border-width solid $navbar-item-border;

        &:hover::after {
          border-bottom-color: $navbar-item-active-border;
        }
        &:focus, &.-active, &:active {
          color: $navbar-item-active-color;
          border: $blue-color solid 2px;
          border-radius: 50px;
          &:after {
            border-bottom: transparent solid 2px;
          }

        }
      }
    }


  }
  .header-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 140px;
    h1 {
      text-align: center;
      width: 80%;
      margin-bottom: 66px;
      @media (max-width: 768px) {width: 100%; }
    }
    .change-table {
      background-color: #202229;
      width: 80%;
      @media (max-width: 768px) {width: 100%; }
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .yellow {
        font-family: $ff2;
        font-size: 18px;
        color: $yellow-color;
        margin-bottom: 20px;
      }
      .column-logo-left {
        order: 1;
        width: 13%;
        padding-top: 67px;
        display: flex;
        justify-content: flex-end;
        @media (max-width: 480px) {
          width: 20%;
          justify-content: center;
        }
      }
      .column-logo-right {
        order: 5;
        width: 13%;
        padding-top: 67px;
        display: flex;
        @media (max-width: 480px) {
          order: 4;
          width: 20%;
          justify-content: center;
        }
      }
      .icon {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        margin: 0 10px;
        background-color: white;
        display: flex;
        justify-content: center;
        @media (max-width: 1024px) {
          width: 45px;
          height: 45px;
          margin-top: 15px;
        }
        img {
          width: 60%;
          height: 60%;
          overflow: hidden;
          margin: auto;
        }
      }
      .column-give-currency {
        order: 2;
        z-index: 6;
        width: 35%;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        @media (max-width: 480px) {
          width: 75%;
        }
      }
      .column-get-currency {
        order:4;
        z-index: 6;
        width: 35%;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        @media (max-width: 480px) {
          width: 75%;
          order:5;
        }
      }
      .column-center {
        order:3;
        padding-top: 95px;
        width: 4%;
        display: flex;
        justify-content: center;
        @media (max-width: 480px) {
          width: 100%;
          padding-top: 40px;
        }
      }
     form {
       display: inline;
       width: 100%;
       input {
         width: 100%;
         height: 44px;
         border: white solid 1px;
         border-radius: 5px;
         background: #202229;
         color: white;
         padding-left: 15px;
         box-sizing: border-box;
         margin-top: 20px;
       }
     }
      .value {
        height: 44px;
        line-height: 44px;
        font-family: $ff2;
        font-size: 18px;
        border: $red-color solid 1px;
        border-radius: 5px;
        background: #202229;
        color: white;
        padding-left: 15px;
        box-sizing: border-box;
        margin-top: 20px;
        margin-bottom: 13px;
      }
      .max-value {
        color: $red-color;
        font-size: 12px;
        font-family: $ff2;
        margin-bottom: 20px;
      }
      .add-information {
        color: #bdbdbd;
        font-size: 14px;
        font-family: $ff2;
        font-weight: bold;
        margin-bottom: 15px;
      }
      .yellow-link {
        color: $yellow-color;
        text-decoration: underline;
        &:hover {
          color: $blue-color;
        }
      }
      .column-button {
        order:6;
        width: 100%;
        display: flex;
        justify-content: center;
        .change-button {
          color: #fff;
          font-family: $ff2;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: bold;
          background: $blue-color;
          width: 150px;
          line-height: 47px;
          border-radius: 50px;
          box-sizing: border-box;
          text-align: center;
          margin-top: 10px;
          margin-bottom: 40px;
          z-index: 6;
          &:hover {
            background-color: $yellow-color;
          }
        }
      }


    }

  }
}
.advantages {
  background-color: #fff;
  padding: 83px 0;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .column-advant {
      width: 23%;
      margin: 0 1%;
      border: $yellow-color solid 2px;
      padding: 60px 30px;
      box-sizing: border-box;
      margin-bottom: 60px;
      position: relative;
      @media (max-width: 1200px) {
        width: 48%
      }
      @media (max-width: 480px) {
        width: 98%
      }
      h3 {
        text-align: center;
        margin-bottom: 25px;
      }
      .icon-advant {
        background-color: #fff;
        position: absolute;
        top: -35px;
        left: 50%;
        margin-left: -63px;
      }

    }
  }
}
.about-us {
  background: url("../images/about-us-bg.png") center/cover;
  padding: 83px 0;
  color: #fff;
  .column-about-us {
    width: 60%;
    .name {
      font-family: $ff1;
      font-weight: lighter;
      font-size: 60px;
      margin-bottom: 38px;
    }
    @media (max-width: 480px) {
      width: 100%;
      .name {
        font-size: 40px;
      }
    }
    h3 {
      color: #fff;
      position: relative;
      padding-bottom: 30px;
      margin-bottom: 48px;
      &:after {
        content: " ";
        position: absolute;
        bottom:0;
        left: 0;
        width: 100px;
        border: $yellow-color solid 2px;
      }
    }
    .big-white-text {
      color: #fff;
      font-size: 20px;
    }
    p {
      font-size: 16px;
      color: #fff;
      margin-bottom: 38px;
    }
    .big-yellow-text {
      color: $yellow-color;
      font-size: 24px;
    }
    .arrow {
      padding-left: 56px;
      position: relative;
      &:after {
        content: url("../images/arrow-yellow.png");
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -8px;
      }
    }
  }
}
.currency-reserve {
  background-color: #fff;
  padding: 83px 0;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .column-currency {
      width: 31%;
      margin: 0 1%;
      border: $yellow-color solid 2px;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      align-items: flex-start;
      margin-bottom: 30px;
      @media (max-width: 768px) {
        width: 48%;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
      .img {
        width: 38px;
        height: 38px;
      }
      .currency {
        margin-top: -7px;
        padding-left: 20px;
        .currency-value {
          font-size: 24px;
        }
      }

    }
  }

}